@use '../abstract' as a;
.theme >*{
    display: inline-block;
}
header {
    padding:30px 20px;
    border-bottom:2px solid a.$very-light-gray;
    box-shadow: 1px 1px 5px a.$dark-gray;
    h1{
        font-size: large;
    }
    .theme{
        float: right;
        p{
            margin-left: 10px;
            font-weight: 600;
        }
    }
}
header >* {
    display: inline-block;
}
