.search-container{
    width: 90%;
    height: 80px;
    margin: auto;
    .search-bar{
        
        background-color: white;
        margin: auto;
        padding: 15px;
    }
    input{
        outline: none;
        border:none;
        height: 50%;
        margin-left: 10px;
    }
}