@use './color.scss' as a;
@mixin button{
    width:100px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 10px a.$dark-gray;
}
@mixin md-lap {
    @media screen and (min-width:1024px){
        @content;
    }
}
